*.iml
.idea
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
include/kimera/state.h
.externalNativeBuild
.cxx
.vs
out
examples
deps
CMakeSettings.json
shaders.h
.vscode/settings.json
compile_commands.json
.clangd
