*.iml
.idea
*.egg-info
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
include/kimera/state.hpp
.externalNativeBuild
.cxx
.vs
out
examples
CMakeSettings.json
shaders.h
.vscode/settings.json
compile_commands.json
.clangd
dependencies/angle